<div class="ratings">
  <div class="vote">
    <button class="up button" {{action "voteUp"}}>up</button>
    <button class="down button" {{action "voteDown"}}>down</button>
  </div>
  <span>{{votes}}</span>
</div>

{{yield}}
