<form class="form" {{action "makeItem" model on="submit"}}>
  <legend>New Item</legend>
  <fieldset>
    <label>Title</label>
    {{input value=model.title type="text"}}
  </fieldset>

  <fieldset>
    <label>Description</label>
    {{textarea value=model.description}}
  </fieldset>
  <div class="btn-wrap">
    <button class="button">Submit</button>
  </div>
</form>
{{outlet}}
