*,*:before,*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  padding: 0 2rem;
  background: #888;
  height: 6vh;
  min-height: 40px;
  overflow: hidden;
}

header h2 {
  float: left;
  margin: 0;
  line-height: 6vh;
  color: #eee;
}

header .button,
header .button:focus {
  height: 4vh;
  line-height: 4vh;
  font-size: 0.9rem;
  padding: 0 2rem;
  color: white;
  border: 0;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  background: black;
  float: right;
  margin-top: 1vh;
  cursor: pointer;
  outline: 0;
}
header .button:hover {
  color: #ddd;
  background: #333;
}

.button {
  background: aqua;
  border: 0;
  box-shadow: none;
  outline: 0;
  color: #fff;
  text-transform: uppercase;
}

.wrap {
  overflow: hidden;
}

.list, .main {
  float: left;
}

.list {
  height: 88vh;
  min-height: 400px;
  width: 25vw;
  background: #f7f7f7;
  border-right: 1px solid #888;
}

.main {
  height: 88vh;
  min-height: 400px;
  width: 75vw;
  background: #eee;
  color: #333;
  padding: 1.5rem;
}

.main h2 {
  margin: 0 0 0.5rem;
}

.meta {
  height: 6vh;
  min-height: 40px;
  background: #666;
  color: #fff;
  line-height: 6vh;
  padding: 0 2rem;
}

.meta a {
  color: #eee;
}

.panel {
  border-bottom: 1px solid #888;
  padding: 0.2rem 0.5rem;
  overflow: hidden;
}
.panel .ratings {
  float: left;
  overflow: hidden;
}
.panel .title {
  float: left;
  padding: 0.3rem 0.5rem;
}
.panel .ratings .vote,
.panel .ratings span {
  display: block;
  float: left;
}
.panel .ratings .vote .button {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}
.panel .ratings .vote .button:last-child {
  margin-bottom: 0;
}

.panel .ratings span {
  font-size: 1.5rem;
  padding: 0.2rem;
  min-width: 35px;
  text-align: right;
}

.form {
  background: #aaa;
  color: #fff;
  padding-bottom: 1rem;
}

.form legend {
  text-transform: uppercase;
  padding: 1rem 1rem 0;
}

.form input, .form textarea {
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  color: #aaa;
  padding: 0.25rem;
  outline: 0;
  font-size: 1rem;
  box-shadow: 0;
}

.form textarea {
  min-height: 100px;
  resize: none;
}

.form fieldset {
  border: 0;
  padding: 0.5rem 1rem 0;
}

.form .btn-wrap {
  overflow: hidden;
  padding: 0.5rem 1rem 0 0;
}

.form .btn-wrap .button {
  float: right;
  background: #000;
}
