<header>
  <h2 id="title">Up/Down Rating App</h2>
  {{#link-to "items.new" class="button"}}New Post{{/link-to}}
</header>
<div class="wrap">
  {{outlet}}
</div>
<footer class="meta">
  <span clas="site"><a href="http://webdeveloperdude.com" target="site">WebDeveloperDude</a> 2016</span>
</footer>
