<div class="list">
  {{#each model as |item|}}
      <div class="panel">
        {{item-vote votes=item.votes}}
        <div class="title">
          {{#link-to "items.item" item class="link"}}{{item.title}}{{/link-to}}
        </div>
      </div>
  {{/each}}
</div>
